<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container-fluid wrapper">
      <div class="col-lg-2 header-left">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Movie</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="col-lg-10 content">
        <div class="card-columns">
          <!-- <div class="card-group"> -->
            <div class="card">
              <img class="card-img-top" src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2011/12/grey-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 1</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/11/cinderella-2015-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 2</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2011/12/grey-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 3</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/11/cinderella-2015-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 4</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2011/12/grey-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 5</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/11/cinderella-2015-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 6</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/11/cinderella-2015-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 7</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/11/cinderella-2015-movie-poster.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title 8</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
